/* .memberlist_container {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
h3 {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgb(107 114 128);
  align-self: start;
  margin: 0;
}
ul {
  padding: 0;
  width: 100%;
  border-color: rgb(229 231 235);
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
li {
  border-color: rgb(229 231 235);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
li:last-child {
  border-bottom-width: 0px;
} */
